/* CSS declarations go here */
body {
    background-color: #fcfcfc;
    padding-left: 1em;
    padding-right: 1em;
}

#file_form {
    padding: 1em;
}

.righted {
    text-align: right;
}

.top_bar {
    padding-left: 1em;
}

.big-input {
    font-size: 1.3em;
    border-width: 1px;
    border-color: cornflowerblue;
}

.codelist {
    list-style: none;
}

.codeitem {
    background: #ffffff;
    padding: 1em;
    border: 1px solid;
    border-color: cornflowerblue;
    margin-bottom: 1em;
}

.codeitem button {
    text-align: right;
}

.annotator {
    position: fixed;
    top: 10px;
}
.codeitem a {
    color: darkslategrey;
    text-decoration: none;
}
.with-shadow {
    -webkit-box-shadow : 1px 2px 1px cornflowerblue;
    -moz-box-shadow:  1px 2px 1px cornflowerblue;
    box-shadow: 1px 2px 1px cornflowerblue;
}